@keyframes fadeIn {
    from { opacity: 0.75; }
    to { opacity: 1; }
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    overflow-y: hidden;
    animation: fadeIn 0.25s ease-in-out;
  }

  #logopiclogin{
    padding: 25px;
    width: 20%;
  }

  a {
    color: inherit;        /* Inherits the color from the parent element */
    text-decoration: none; /* Removes underline */
    font-size: inherit;    /* Inherits font size from the parent element */
    font-family: inherit;  /* Inherits font family from the parent element */
    background-color: transparent; /* Ensures no background color */
    outline: none;         /* Removes focus outline added by some browsers */
    border: none;          /* Removes any borders that might be added */
    display: flex;
    
}
  button{
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }

  button:hover{
    transform: scale(1.05); /* Slightly enlarge the button */
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  }

p{
   margin: 0;
}

.tempbox{
    display: flex;
    padding: 8px;
    gap: 20px;
    border: 2px solid rgba(251, 11, 115, 0.5);
}

.lightbox{
    display: flex;
    margin: 0;
    margin-top: 7px;
    padding: 5px;
    gap: 70px;
    border: 2px solid rgba(255, 225, 0, 0.612);
}
.humiditybox{
    display: flex;
    padding: 8px;
    margin-top: 7px;
    gap: 46px;
    border: 2px solid rgba(4, 167, 255, 0.5);
    
}

.returntopgroup{
    display: block;
    width: 20%;
    margin-left: 100px;
    
}

.navbar{
    display: flex;
    gap: 100px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 12%;    
    background-color: rgb(4, 4, 4);
    border-bottom: 0.5px solid #f8f8f8;
}

.text{
    margin: 0;
    padding-top: 25px;
    margin-left: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

#dashtext{
    padding:2;
}

.checks{
    background-color: red;
}

#sensorlistmessage{
    color:rgb(254, 254, 254);
    border-bottom: 10px groove #f8f8f8;
    margin-right: 20px;

}


.loginpanel {
    background: rgb(66, 66, 66);
    border: 2px solid #ffffff;
    margin-top: 5%;
    margin-left: 35%;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 300px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 1rem;
}

.input-group label {
    margin-bottom: 0.5rem;
    display: block;
}

.input-group input {
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 1.6rem); /* padding + border */
}

.login-button {
    background-color: #24476d;
    color: white;
    border: none;
    padding: 0.8rem;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #204168;
}

.navbuttons{
    background-color: #343c3e;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 10px;
    width: 10%;
    height: 60%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    border: 0.5px solid #535252;
}

.navbuttons:hover{
    cursor: pointer;
}

#currentDate{
    padding-top : 10px;
    padding-left: 15px;
    font-weight: 300;
    margin-left: -55px;
}

.currentReadingsPanel{
    display: fixed;
    width: 375px;
    height: 418px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(109, 112, 112, 0.25);
    color: white;
    margin-top: -15px;
    margin-left: 1%;
    margin-right: 20px;
    border-radius: 10px;
    border: 0.5px solid #332f36;
    padding-left: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    
}

.buttonsandcheck{
    display:flex;   
    margin: 0;
   
}

.buttonset{
    margin: 0;
}

.checkboxesgroup{
    display: flex;
    flex-direction: column;
    gap: 0px;
    font-size: 15px;
    margin-left: -50px;
    
}

.checkflex{
    display: flex;
    align-items: center;
    width: 150px;
    margin-top: 10px;
}
#logopic{
    margin-top: 15px;
    margin-left: 35px;
    width: 80%;
    height: 70%;

}

.sensorlistview{
    
    margin-top: 2%;
    margin-left: 2px;
    height: 100%;
    border: 1px solid #ffffff;
    border-radius: 30px;
    width: 99.5%;
    

}
.innerlistview{
    margin-right: 30px;
    margin-top: 40px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    width: 90%;
}

.listrowentry{
    display: flex;
    gap: 3.5%;
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
    border-radius: 15px;
    border: 1px solid #686767;
    
    background-color: #343c3e;
    align-items: center;
    width: 100%;
    height: 60px;
}

.rowicon{
    margin-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 10px;
}
.whiteline{
    margin-top: 2%;
    margin-left: 3%;
    width: 103%;
    border-bottom: 0.1px solid #ffffff;
    
}

.smallatag{
    display: inline-block;
}
.rowentrydata{
    margin-top: 20px;
    padding-right: 45px;
    padding-left: 45px;
    border-right: 2px solid #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    color:rgb(255, 255, 255);
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.6);
}


.stats{

    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.6);
}
#returnTopButton{
    margin-left: 50px;
    margin-top: 33px;
    background-color: #292929; 
    width: 150px;
    height: 35px; 
    color: white;  
    border: none; 
    border: 2px solid #727070;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer; 
    border-radius: 5px; 
    transition: background-color 0.6s, transform 0.6s; 
}

#downloadCSVButton{
    margin-left: 50px;
    margin-top: 10px;
    background-color: #292929; 
    width: 150px;
    height: 35px; 
    color: white;  
    border: none; 
    border: 2px solid #727070;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer; 
    border-radius: 5px; 
    transition: background-color 0.6s, transform 0.6s; 
}
#returnTopButton:hover{
    cursor: pointer;
    background-color: #767777;
    
}

.headerchunk{
    display: flex;
    margin-left: 0px;
    border-bottom: 1px solid #ffffff;

}
.totalreadingcountdiv{
    display: flex;
}


.headerwithcountdown{
    margin-bottom: -2px;
    display: flex;  
    gap: 0px;

}
.topsection{
    margin-right: 10px;
    border-bottom: 2.5px solid #030303;
    padding: 10px;
}


.bodysection{
    padding: 10px;
    display: flex;
    margin-right: 10px;
    margin-left: -4px;
    border-radius: 10px;
    margin-top: 10px;
    flex-direction: column;
    font-weight: 500;
    background-color: rgba(75, 75, 75, 0.25);
    border: 1px solid #56565664;
}

#time{
    padding: 0;
    font-weight: 400;
}

#thresholdsbutton{
    font-size: 12px;
}
    

#currentsensordisplay{
    margin: 0;
    padding: 0;
}

#timecontainer{
    font-weight: 400;
    margin:0;
    margin-bottom: 0px;
    padding: 0; 
}

.timeandbolt{
    display:flex;
}

#toggleDailyReport {
    background-color: #2b2a2a; 
    width: 150px;
    height: 25px;   
    border: none; 
    color: white; 
    margin-top: 7px;
    border: 1.5px solid #5e5c5c6e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 12px; /* Larger font size for readability */
    cursor: pointer; /* Cursor indicates clickable item */
    border-radius: 5px; /* Rounded corners for a modern look */
    transition: background-color 0.6s, transform 0.6s; /* Smooth transitions for hover effects */
}

#toggleDailyReport:hover {
    background-color: #474848; /* Darker shade of green when hovered */ /* Slightly increase size on hover */
}

#toggleReadings{
    font-size: 50px;
    transition:  font-size 0.3s ease-in-out;
}

#toggleReadings:hover{
    cursor: pointer;
    font-size: 52px;
}
#statusicon{
    margin-left: 7%;
    margin-bottom: -5px;
    margin-top: 0;
    border-radius: 60px;
    font-size: 55px;
    width: 90px;
    height: 65px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    opacity: 1; 
    transition: opacity 0.3s ease-in-out;
}

#pauseButton {
    background-color: #2b2a2a; 
    width: 150px;
    height: 25px;   
    border: none; 
    color: white; 
    margin-top: 7px;
    border: 1.5px solid #5e5c5c6e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 12px; /* Larger font size for readability */
    cursor: pointer; /* Cursor indicates clickable item */
    border-radius: 5px; /* Rounded corners for a modern look */
    transition: background-color 0.6s, transform 0.6s; /* Smooth transitions for hover effects */
}

#pauseButton:hover {
    background-color: #434343; /* Darker shade of green when hovered */ /* Slightly increase size on hover */
}

#countdown{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-top: -5px;
    margin-left: 15px;
}
.pauseplay{
    margin-top: 10px;
    width: 150px;
    height: 80px;
    display:flex;
   
}

#sensorheader{
    margin-left: 25px;
    margin-top: 5px;
    font-weight: 500;
    font-style: italic;
    padding: 10px;
}
.sensordisplay{
    width: 100%;  
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    margin-top: 0;
}

.dailyReportSection{
    margin-top: 30px;
    height: 500px;
}


.datetime-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: -15px;
    margin-right: 15px;
    margin-left: 15px;
    border: 1px solid #6d6d6d;
    border-radius: 15px;
    cursor: pointer;
    height: 28px;
    width: 45%; 
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #3f3e3e;
}
.datetime-button span {
    display: block;
}

#dailyReportChart{
    margin-top: 30px;
    margin-left: 5%;
    max-width: 90%;
    max-height: 65%;
}

#createthreshold_button{
    font-size: 11px;
}
#dailyReportContainer {
    width: 2000px; /* Or a specific width like 600px */
    max-width: 100%; /* Optional, for responsive designs */
    height: 600px; /* Fixed height to prevent vertical resizing */
    margin: auto; /* Center the container if needed */
    display: none; /* Initially hidden */
     /* Ensures the positioning is stable */
    padding: 20px; /* Padding to avoid content touching the edges */
    box-sizing: border-box; /* Include padding and border in the width and height */
}

#sensorChart {
    flex: 2; /* Takes twice the space of the readings panel, adjust as necessary */
    max-width: 800px; /* Optional: Sets a max-width for the chart */
    height: 500x; 
    max-height: 500px/* Sets a fixed height for the chart */
}

.reportheaderbunch{
    border-bottom: 2.5px solid #ffffff;
    display: flex;
    gap: 0px;
    margin: 0;  
    padding: 10px;
}

#displayVariable{
    margin-top: 10px;
}

#switchChartType{
    background-color: #2b2a2a; 
    width: 150px;
    height: 25px;   
    border: none;
    color: white; 
    margin-top: 7px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 12px; /* Larger font size for readability */
    cursor: pointer; /* Cursor indicates clickable item */
    border-radius: 5px; /* Rounded corners for a modern look */
    transition: background-color 0.6s, transform 0.6s; /* Smooth transitions for hover effects */
    border: 1.5px solid #5e5c5c6e;
}
#dailyreportheader{
    width: 20%;
    margin: 0;  
}
.readingamountanddaterange{
    width: 50%;
    padding: 5px;
}
.totalreadings{
    font-size: 14px;
    display: flex;
    margin-bottom: -15px;
}
#dailyreport_readingcount{
    font-weight: 400;
    margin-left: 10px;
    margin-top: 2px;
}

#startbutton{
    margin-left: -200px;
}

#plottingtext2{
    font-weight: 400;
}

#plottingtext1{
    width: 100%;
    font-weight: 400;
    font-size: 27px;
    margin-right: 0%;
}
.daterange{
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: white;
    margin-top: 2.8%;
    margin-left: 1%;
}

#readingmessage{
    margin-left: 5px;
    font-weight: 400;
}
#switchChartType:hover {
    background-color: #454647; 
}