<!DOCTYPE html>

<html>

<head>
<title>IOTDashboard</title>
<link rel='stylesheet' href='/styles.css'>
</head>

<body>
    <div class='navbar'>
        <img src = 'images/logo.png' id = 'logopic'>
        <button id = 'sensorviewbutton' href = '/sensorview' class = 'navbuttons' onclick="">View Sensors</a>
        <button id = 'helpbutton' class = 'navbuttons'>Help</button>
        <button id = 'logoutbutton' class = 'navbuttons'>Logout</button>
    </div>

    <div class = 'sensorlistview'>
        <h1 class = 'text' id = 'sensorlistmessage'>Your Sensors:</h1>
        
        <div class = 'innerlistview'>
            <% sensors.forEach(function(sensors) { %>
                <div class='listrowentry'>
                    <a href="/sensorDash?sensorId=<%= sensors.sid %>">
                    <h1 class='rowicon'>📈</h1>
                    <h1 class='rowentrydata'><%= sensors.sname %></h1>
                    <h1 class='rowentrydata'><%= sensors.stype %></h1>
                    <h1 class='rowentrydata'>Active</h1>
                    </a>
                </div>

                <div class= 'whiteline'></div>
                <% }); %>


        </div>


    </div>
    
<script>
    document.addEventListener('DOMContentLoaded', function() {
    const logoutButton = document.getElementById('logoutbutton');
    logoutButton.addEventListener('click', function() {
        window.location.href = '/logout';
    });
});
</script>
    



</body>
</html>