:root {
    --button-color: #1d65b2;
    
}


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    background-color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 1vw 0;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    height: 3.9vw;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 50px;
    background-color: rgb(213, 211, 211);
}

.navbar-brand a {
    color: #555555;
    font-size: 2vw;
    font-weight: 800;
    text-decoration: none;
}
.withinlogo{
    color: rgb(64, 169, 80);
    font-weight: 800;
}
#otherpartlogo{
    color: #cccccc;
    font-weight: 600;
}

.navbar-nav {
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar-nav a {
    color: #272727;
    text-decoration: none;
    padding: 1vw;
    text-align: center;
    transition: transform 0.2s ease;
}



.navbar-btn a {
   
    background: var(--button-color);
    color: #fff;
    padding: 1vw;
    border-radius: 20px;
    font-weight: 600;
    font-size: 0.8vw;
    transition: transform 0.2s ease;
}
.navbar-btn{
    padding: 1vw;
    width: 10vw;
    
}

.navbarlanding{
    padding: 1vw;
    width: 14vw;
    font-size: 1vw;
}
.navbar-btn a:hover {

    transform: scale(1.02) !important;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.hero {
    display: flex;
    align-items: center;
    gap: 15vw;
    margin-top: -5%;
    margin-left: 6%;
    margin-right: 10px;
    margin-bottom: 0;
    padding: 3rem 0;
    background: url('/images/hero-bg.jpg') no-repeat center center/cover;
    color: #fff;
}

.hero-content {
    max-width: 50%;
    
}

.hero-content h1 {
    font-size: 2vw;
    margin-bottom: 2vw;
}

.hero-content p {
    font-size: 1.3vw;
    margin-bottom: 3vw;
}

#learnbutton{
    margin-top: 5%;
   
}
.hero-content .btn {
    background: var(--button-color);
    color: #fff;
    padding: 1vw;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1vw;
}


.hero-content .btn:hover {
    background: var(--button-color);
}

.hero-image img {
    max-width: 100%;
    width: 35vw;
    margin-top: 7vw;
    border-radius: 15px;
    
}

.features {
    margin-top: -1vw;
    padding: 3rem 0;
    text-align: center;
    color: white;
    background: #3e3e3e;
}

.features h2 {
    font-size: 2.2vw;
    margin-bottom: 2vw;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates 3 equal columns */
    grid-template-rows: repeat(2, auto); /* Creates 2 rows, auto height */
    gap: 0.5vw;
    margin-left: 8%;
    
    
    justify-content: center;
}

.feature-item {
    max-width: 22vw;
    text-align: center;
}

.feature-item img {
    max-width: 90%;
    width: 90%;
    min-height: 55%;
    height: 55%;
    border-radius: 10px;
    margin-bottom: 1vw;
}

.feature-item h3 {
    font-size: 1.5vw;
    margin-bottom: 0.5rem;
}

.feature-item p {
    font-size: 0.8vw;
}

.about {
    display: flex;
    align-items: center;
    gap: 5vw;
    padding: 3rem 0;
    background: #333;
    color: #f0f0f0;
}

.about-content {
    margin-left: 6vw;
    max-width: 42%;
}

.about-content h2 {
    font-size: 2vw;
    margin-bottom: 1vw;
}

.about-content p {
    font-size: 1vw;
    line-height: 1.6vw;
}

.about-image img {
    max-width: 100%;
    width: 35vw;
    border-radius: 15px;
   
   
}

.contact {
    padding: 3vw 0;
    text-align: center;
    background: #3c3c3c;
    color: #f5f5f5;
}

.contact h2 {
    font-size: 2vw;
    margin-bottom: 1vw;
}

.contact p {
    font-size: 1vw;
    margin-bottom: 1vw;
}

.contact form {
    max-width: 35vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.2vw;
}

.contact input,
.contact textarea {
    padding: 1vw;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1vw;
}

.contact button {
    background: var(--button-color);
    color: #fff;
    padding: 1vw 1vw;
    border: none;
    border-radius: 5px;
    font-size: 1vw;
    cursor: pointer;
}

.contact button:hover {
    background: var(--button-color);
}

.footer {
    background: #333;
    color: #fff;
    font-size: 10px;
    text-align: center;
    padding: 1rem 0;
}

